.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relativeF;
}

.black {
  background-color: #b88b4a;
  /* border: 1px solid white; */
}

.white {
  background-color: #e3c16f;
  /* border: 1px solid black; */
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}

.cellRotate img {
  transform: rotate(180deg);
}

