.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.boardRotate {
  transform: rotate(180deg);
}

.currentPlayer {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}